@model IEnumerable<projeto.Models.Topic>

@{
    ViewData["Title"] = "Tópicos";
}

<h2>Tópicos</h2>

<p>
    <a asp-action="Create">Cadastrar novo tópico</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Difficulty)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>Questões</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Id)
            </td>
            <td>
                <a asp-action="Index" asp-controller="Question" asp-route-TopicId="@item.Id" asp-route-ModuleId="@item.Module.Id" asp-route-SubjectId="@item.Module.SubjectId">Ver questões</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-TopicId="@item.Id" asp-route-ModuleId="@item.Module.Id" asp-route-SubjectId="@item.Module.SubjectId">Editar</a> |
                <a asp-action="Details" asp-route-TopicId="@item.Id" asp-route-ModuleId="@item.Module.Id" asp-route-SubjectId="@item.Module.SubjectId">Detalhes</a> |
                <a asp-action="Delete" asp-route-TopicId="@item.Id" asp-route-ModuleId="@item.Module.Id" asp-route-SubjectId="@item.Module.SubjectId">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
