@model IEnumerable<projeto.Models.Module>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                Tópicos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Id)
            </td>
            <td>
                <a asp-action="Index" asp-controller="Topic" asp-route-ModuleId="@item.Id" asp-route-SubjectId="@item.SubjectId">Ver tópicos</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-ModuleId="@item.Id" asp-route-SubjectId="@item.SubjectId">Edit</a> |
                <a asp-action="Details" asp-route-ModuleId="@item.Id" asp-route-SubjectId="@item.SubjectId">Details</a> |
                <a asp-action="Delete" asp-route-ModuleId="@item.Id" asp-route-SubjectId="@item.SubjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>