@model IEnumerable<projeto.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>Respostas</th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Id)
            </td>
            <td>
                <a asp-action="Index" asp-controller="Answer" asp-route-QuestionId="@item.Id" asp-route-TopicId="@item.TopicId" asp-route-ModuleId="@item.Topic.ModuleId" asp-route-SubjectId="@item.Topic.Module.SubjectId">Ver respostas</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-QuestionId="@item.Id" asp-route-TopicId="@item.TopicId" asp-route-ModuleId="@item.Topic.ModuleId" asp-route-SubjectId="@item.Topic.Module.SubjectId">Edit</a> |
                <a asp-action="Details" asp-route-QuestionId="@item.Id" asp-route-TopicId="@item.TopicId" asp-route-ModuleId="@item.Topic.ModuleId" asp-route-SubjectId="@item.Topic.Module.SubjectId">Details</a> |
                <a asp-action="Delete" asp-route-QuestionId="@item.Id" asp-route-TopicId="@item.TopicId" asp-route-ModuleId="@item.Topic.ModuleId" asp-route-SubjectId="@item.Topic.Module.SubjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
