@model projeto.Models.Try

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Try</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.topico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.topico.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
