@model IEnumerable<projeto.Models.Answer>

@{
    ViewData["Title"] = "Respostas";
}

<h2>Respostas</h2>

<p>
    <a asp-action="Create">Cadastrar nova resposta</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correct)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
